<h2>Edit/Create Author</h2>
<form ng-submit="saveData()">
    <table class="table">
        <tr>
            <td>id</td>
            <td><input type="text" ng-model="Data.id"></td>
        </tr>
        <tr>
            <td>Display</td>
            <td><input type="text" ng-model="Data.topic_id"></td>
        </tr>
        <tr>
            <td>Display</td>
            <td><input type="text" ng-model="Data.topic_id"></td>
        </tr>
    </table>
        <p><a ng-click="saveData()">Form Submit</a></p>
        <p ng-if="Data.id>0">
            <a ng-click="startFresh()">Start Fresh</a>
        </p>
</form>