<h2>Edit/Create Node</h2>
<form ng-submit="saveData()">
    <table class="table">
        <tr>
            <td>Node id</td>
            <td>{{Data.id}}</td>
        </tr>
        <tr>
            <td>Topic_id</td>
            <td><input type="text" ng-model="Data.topic_id"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><span>
                <ui-select ng-model="s_type" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="updateType($select.selected)">
                    <ui-select-match placeholder="{{s_type.name}}">{{ s_type.name }}</ui-select-match>
                    <ui-select-choices repeat="opt in Types | filter: $select.search">
                        <span ng-bind-html="opt.name | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>
            </span>
            </td>
        </tr>
        <tr ng-if="Data.type > '1'">
            <td>Author</td>
            <td><span>
                <ui-select ng-model="s_author" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="updateAuthor($select.selected)">
                    <ui-select-match placeholder="{{s_author.display}}">{{ s_author.display }}</ui-select-match>
                    <ui-select-choices repeat="opt in Authors | filter: $select.search">
                        <span ng-bind-html="opt.display | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>
            </span>
            </td>
        </tr>
        <tr ng-if="Data.type > '1'">
            <td>Data</td>
            <td><textarea ng-model="Data.data"></textarea></td>
        </tr>
        <tr ng-if="Data.type == '1'">
            <td>Book</td>
            <td><span>
                <ui-select ng-model="s_book" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="updateBook($select.selected)">
                    <ui-select-match placeholder="{{s_book.Name}}">{{ s_book.Name }}</ui-select-match>
                    <ui-select-choices repeat="opt in Books | filter: $select.search">
                        <span ng-bind-html="opt.Name | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>
            </span>
            </td>
        </tr>
        <tr ng-if="Data.type == '1'">
            <td>Chapter_Start</td>
            <td><input type="text" ng-model="Data.verse.Chapter_Start" ng-change="updateVerse()"></td>
        </tr>
        <tr ng-if="Data.type == '1'">
            <td>Chapter_End</td>
            <td><input type="text" ng-model="Data.verse.Chapter_End" ng-change="updateVerse()"></td>
        </tr>
        <tr ng-if="Data.type == '1'">
            <td>Verse_Start</td>
            <td><input type="text" ng-model="Data.verse.Verse_Start" ng-change="updateVerse()"></td>
        </tr>
        <tr ng-if="Data.type == '1'">
            <td>Verse_End</td>
            <td><input type="text" ng-model="Data.verse.Verse_End" ng-change="updateVerse()"></td>
        </tr>
    </table>

    <p>
        <input type="submit" value="Form Submit"
               class="btn btn-block btn-success center">
        </p>
    <p ng-if="Data.id>0">
        <a ng-click="startFresh()">Start Fresh</a>
    </p>
</form>