<h2>Edit/Create Topic</h2>
<form ng-submit="saveData()">
    <table class="table">
        <tr>
            <td>id</td>
            <td>{{Data.id}}</td>
        </tr>
        <tr>
            <td>Parent Topic</td>
            <td><span>
                <ui-select ng-model="topic" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           on-select="updateParent($select.selected)">
                    <ui-select-match placeholder="{{topic.name}}">{{ topic.name }}</ui-select-match>
                    <ui-select-choices repeat="opt in Topics | filter: $select.search">
                        <span ng-bind-html="opt.name | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>
            </span>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
    </table>
        <p><a ng-click="saveData()">Form Submit</a></p>
        <p ng-if="Data.id>0">
            <a ng-click="startFresh()">Start Fresh</a>
        </p>
</form>