<div ng-show="breadcrumbs.length">
    <span ng-repeat="breadcrumb in breadcrumbs">
        <a href="#!/topic/{{breadcrumb.id}}">{{breadcrumb.name}}</a>
        <span ng-show="!$last"> | </span>
    </span>
</div>
<h3><u>Topic View<span ng-if="topic_id !=0"> - {{data.Topic.name}}</span></u></h3>
<div ng-bind-html="columnar(data.Children, 'table', 'Topic')"></div>
<div ng-if="data.Verses.length">
    <hr width="60%">
    <div ng-bind-html="columnar(data.Verses, 'table', 'Verse')"></div>
</div>
<hr width="60%">
<div ng-if="data.Quotes.length">
    <table class="table">
        <tr ng-repeat="datum in data.Quotes">
            <td>{{ datum.data }}</td>
            <td>{{ datum.author_display }}</td>
        </tr>
    </table>
</div>
